header h1 {
  color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 200px;
  height: 100vh;
  align-items: center;
  justify-content: center; /* ← nieuw */
}

.shelf {
  position: relative;
  width: 800px; /* ← nieuw */
  z-index: 0;
  isolation: isolate;
  cursor: pointer;
  /* animation: float 2s infinite linear; */
}

.shelf > img {
  position: relative;
  z-index: 3;
}

.shelf li {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.shelf ul {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 40px;
  justify-content: space-evenly;
  align-items: flex-end; /* ← nieuw */
  z-index: 1;
  cursor: pointer;
}

/* animation floating */

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-25px);
  }

  100% {
    transform: translatey(0px);
  }
}

.shelf li:hover {
  transform: translateY(-35px);
}

/* detail project */

h2 {
  font-size: var(--text-3xl);
}

.detail-project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 700px;
  border-radius: 20px;
  padding: 40px 40px;
  background: rgba(226, 183, 159, 0.45);
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.5);
}

.detail-project {
  display: flex;
  flex-direction: row;
  display: none;
}

.detail-project img {
  width: 200px;
}

/* testje  */
